<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <title>TV Updater</title>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">
                    TV Updater
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!--<ul class="nav navbar-nav">-->
                    <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                    <!--<li><a href="#">Link</a></li>-->
                    <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="#">Action</a></li>-->
                            <!--<li><a href="#">Another action</a></li>-->
                            <!--<li><a href="#">Something else here</a></li>-->
                            <!--<li role="separator" class="divider"></li>-->
                            <!--<li><a href="#">Separated link</a></li>-->
                            <!--<li role="separator" class="divider"></li>-->
                            <!--<li><a href="#">One more separated link</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                <!--</ul>-->
                <!-- <form class="navbar-form navbar-left" action="/hotelList" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" name="hotelSearch">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form> -->

                <ul class="nav navbar-nav navbar-right">
                    <!--<li><a href="#">Link</a></li>-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Coming soon
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'home' %}">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Shows
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'home' %}">
                                    <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Reviews API
                                </a>
                            </li>

                            <li role="separator" class="divider"></li>

                            <li>
                                <a href="{% url 'home' %}">
                                    Log out <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">

        <div class="row">

            <!--<div class="col-sm-6 col-sm-offset-3">-->
                <!--<div class="alert alert-info alert-dismissible" role="alert">-->
                  <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                  <!--<strong>{{ showName }}</strong> updated-->
                <!--</div>-->
            <!--</div>-->

            <div class="col-sm-2 col-sm-offset-10">
                <a href="/loading?showName=all" class="btn btn-danger" role="button">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh all
                </a>
            </div>

        </div>

        <br>

        <div class="row">

            {% for show in shows_info_arr %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail thumbnail-height">
                        <img src="{{ show.show_image }}">
                        <div class="caption">

                            <div class="panel panel-default">
                              <div class="panel-heading">

                                  {% load tz %}
                                  <!--Refreshed at <strong>{{ show.refreshed_time|timezone:"Asia/Taipei" |date:"Y-m-d h:i A" }}</strong>-->
                                  Refreshed at <strong>{{ show.refreshed_time|timezone:"America/Los_Angeles" |date:"Y-m-d h:i A" }}</strong>

                                  &nbsp
                                  &nbsp

                                  <a href="/loading?showName={{ show.show_name }}" class="btn btn-danger" role="button">
                                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh
                                  </a>

                              </div>
                            </div>

                            <h3 class="text-center">{{ show.show_name }}</h3>
                            <p class="text-center">{{ show.latest_episode_name }}</p>
                            <br>

                            <p>
                                <a href="{{ show.show_url }}" class="btn btn-default" role="button">
                                    Series
                                </a>
                                <a href="{{ show.latest_episode_url }}" class="btn btn-primary pull-right" role="button">
                                    {{ show.latest_post_time }} <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                                </a>
                            </p>

                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:"3" %}
                    <div class="clearfix"></div>
                {% endif %}

            {% endfor %}

        </div>

        <div class="footer">
            <p class="text-center text-white">
				<!--Copyright &copy; 2016 TV Updater by Alec-->
			</p>
        </div>
    </div>

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>


</body>
</html>
